<footer class="" style="padding-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="widget widget_text">
					<a href="./" class="logo logo_image bottommargin_10">
						<img src="/assets/logo/logo.png" alt="<Application Name>" style="height:40px;">
					</a>
					<p style="margin-top:20px;">
						We are seasoned and talented team of IT consultants, infrastructure engineers, designers and developers who have helped our clients to grow their business and profits by adopting the right IT strategy and solutions.
					</p>
					<div class="size_small">
						<div class="page_social_icons">
							<a class="social-icon color-icon soc-facebook" href="https://www.facebook.com/victorydxb/" title="Facebook"></a>
							<a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a>
							<a class="social-icon color-icon soc-google" href="#" title="Google"></a>
							<a class="social-icon color-icon soc-linkedin" href="#" title="LinkedIn"></a>
							<a class="social-icon color-icon soc-instagram" href="https://www.instagram.com/victoryeventsmodelling/" title="Instagram"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
				<div class="row footer_lists">
					<div class="col-xs-6">
						<div>
							<ul class="list2 bottommargin_0">
								<li class="">
									<%= link_to "Home", "#" %>
								</li>
								<li class="">
									<%= link_to "About Us", "#" %>
								</li>
								<li class="">
									<%= link_to "Events", "#" %>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
				<div class="row footer_lists">
					<div class="col-xs-6">
						<div>
							<ul class="list2 bottommargin_0">
								<li class="">
									<%= link_to "Models", "#" %>
								</li>
								<li class="">
									<%= link_to "Contact Us", "#" %>
								</li>
								<li class="">
									<%= link_to "Admin Login", "/sign_in" %>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
				<div class="row footer_lists">
					<div class="col-xs-6">
						<div>
							<ul class="list2 bottommargin_0">
								<li class="">
									<%= link_to "Facebook", "#" %>
								</li>
								<li class="">
									<%= link_to "Twitter", "#" %>
								</li>
								<li class="">
									<%= link_to "Instagram", "#" %>
								</li>
								<li class="">
									<%= link_to "Google Plus", "#" %>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<section class="" style="padding-top: 20px;">
	<div class="container">
		<div class="row topmargin_5">
			<div class="col-sm-12 text-center">
			<p class="darklinks">&copy; <Application Name> | Website developed & Maintained by <%= link_to "Right Solutions", "http://rightsolutions.io", target: "_blank", style: "color: #e0006c;" %>
				</p>
			</div>
		</div>
		<div class="row bottommargin_5">
			<div class="col-sm-12 text-center">
			<p class="darklinks">
				<%= link_to "Admin Login", sign_in_path, target: "_blank", style: "color: #898989;" %>
				</p>
			</div>
		</div>
	</div>
</section>