<%
  edit_link = edit_admin_enquiry_path(@enquiry)
  delete_link = admin_enquiry_path(@enquiry)
%>

<div class="panel-footer">

  <div class="dropdown pull-right m-10">

    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="color:inherit;">
      <%= raw("<i class=\"fa fa-cogs mr-5\"></i> Action") %>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

      <li role="presentation">
        <%= link_to raw("<i class=\"fa fa-thumb-tack mr-5\"></i> Mark as Unread"), 
                  update_status_admin_enquiry_path(:id =>@enquiry.id, :status =>'unread'), 
                  method: :put, remote: true, role: "menuitem", tabindex: "-1" unless @enquiry.unread? %>
      </li>
      
      <li role="presentation">
        <%= link_to raw("<i class=\"fa fa-check mr-5\"></i> Mark as Read"), 
                  update_status_admin_enquiry_path(:id =>@enquiry.id, :status =>'read'), 
                  method: :put, remote: true, role: "menuitem", tabindex: "-1" unless @enquiry.read? %>
      </li>

      <li role="presentation">
        <%= link_to raw("<i class=\"fa fa-archive mr-5\"></i> Archive"), 
                  update_status_admin_enquiry_path(:id =>@enquiry.id, :status =>'archived'), 
                  method: :put, remote: true, role: "menuitem", tabindex: "-1" unless @enquiry.archived? %>
      </li>

      <li role="presentation">
        <%= link_to raw("<i class=\"fa fa-trash mr-5\"></i> Delete"), 
                  update_status_admin_enquiry_path(:id =>@enquiry.id, :status =>'deleted'), 
                  method: :put, remote: true, role: "menuitem", tabindex: "-1" unless @enquiry.deleted? %>
      </li>
      
      
    </ul>

  </div>

  <%= clear_tag %>

</div>