<%= flash_message if request.xhr? -%>

<div class="panel panel-default">
  <div class="panel-body" style="height:auto;">
    <div class="pull-left" style="width:22%;">
      <i class="fa fa-envelope" style="margin-left:15px;font-size:70px;"></i>
    </div>
    <div class="pull-left ml-10" style="width:65%;">
      <%= theme_panel_heading(@enquiry.subject) %>
      <%= theme_panel_sub_heading(@enquiry.name, "#") %>

      <% status_hash = {read: "default", unread: "warning", deleted: "danger", archived: "info"} %>
      <%= clear_tag %>
      <div class="mt-5 label label-<%= status_hash[@enquiry.status.to_sym] %>">
        <%= @enquiry.status.titleize %>
      </div>
    </div>

    <div class="cl"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-20 ml-15">
        <b>Message: </b><%= theme_panel_description(@enquiry.message, "fs-14 mt-10 text-color-gray") if @enquiry.message %>

        <br><br><b>Email: </b><%= @enquiry.email %>
        <br><br><b>Phone: </b><%= @enquiry.phone %>
        <br><br><b>Sent: </b><%= time_ago_in_words(@enquiry.created_at) %> ago
      </div>
    </div>

  </div>

  <%= render partial: "action_buttons" %>

</div>