<%= form_for(@image, :as => :image,
            :url => (@image.new_record? ? main_app.admin_images_path : main_app.admin_image_path),
            :method => (@image.new_record? ? :post : :put),
            :html => {:id=>"form_photo", :class=>"mb-0 form-horizontal", :multipart => true, :target => "iframe_photo"}) do |f| %>

  <div class="modal-body">

    <%= @image.errors[:base].to_sentence %>

    <%= hidden_field_tag :faction, @image.new_record? ? main_app.admin_images_path : main_app.admin_image_path(@image) %>
    <%= hidden_field_tag :fmethod, @image.new_record? ? "POST" : "PUT" %>

    <%= hidden_field_tag :imageable_id, params[:imageable_id] %>
    <%= hidden_field_tag :imageable_type, params[:imageable_type] %>
    <%= hidden_field_tag :redirect_url, params[:redirect_url] %>
    <%= hidden_field_tag :image_type, params[:image_type] %>

    <div class="add-photos-path">

      <div class="row">
        <div class="col-md-12">
          <%= theme_form_field(@image, :image, html_options: {type: 'file'}, label: "Upload a new Image", param_name: "image") %>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <% button_text = "#{@image.new_record? ? "Create" : "Update"} Photo" %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
    </div>

  </div>

  <div class="cl-10"></div>

<% end %>
