<%
  edit_link = edit_admin_user_path(@user)
  delete_link = admin_user_path(@user)
%>

<div class="panel-footer">

  <% if @current_user.super_admin? %>
    <%= link_to raw("<i class=\"fa fa-plug mr-5\"></i> Masquerade"), masquerade_admin_user_path(@user), method: :put, class: "btn btn-default btn-xs mt-10", data: { confirm: "Are you sure? Do you really want to logout current session and login as #{@user.name}?" } %>
  <% end %>

  <div class="dropdown pull-right m-10">

    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="color:inherit;">
      <%= raw("<i class=\"fa fa-cogs mr-5\"></i> Action") %>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

      <% if @current_user.super_admin? %>
        
        <% if @user.super_admin? %>
            
          <!-- Remove Super Admin -->
          <li role="presentation">
            <%= link_to raw("<i class=\"fa fa-remove mr-5\"></i> Remove Super Admin"), remove_super_admin_admin_user_path(id: @user.id), method: :put, :remote=>true, role: "menuitem", tabindex: "-1" %>
          </li>

        <% else %>

          <!-- Make Super Admin -->
          <li role="presentation">
            <%= link_to raw("<i class=\"fa fa-plus-square mr-5\"></i> Make Super Admin"), make_super_admin_admin_user_path(id: @user.id), method: :put, remote: true, role: "menuitem", tabindex: "-1" %>
          </li>
          <li role="presentation" class="divider"></li>

        <% end %>
      <% end %>

      <% case @user.status %>
      <% when "active" %>
        <li role="presentation">
          <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Inactivate"), update_status_admin_user_path(:id =>@user.id, :status =>'inactive'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"user_status" %>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Suspend"), update_status_admin_user_path(:id =>@user.id, :status =>'suspended'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"user_status" %>
        </li>
        <li role="presentation" class="divider"></li>
      <% when "inactive" %>
        <li role="presentation">
          <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Activate"), update_status_admin_user_path(:id =>@user.id, :status =>'active'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"user_status" %>
        </li>
        <li role="presentation" class="divider"></li>
      <% when "suspended" %>
        <li role="presentation">
          <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Activate"), update_status_admin_user_path(:id =>@user.id, :status =>'active'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1",:class=>"user_status" %>
        </li>
        <li role="presentation" class="divider"></li>
      <% end %>

      <li role="presentation">
        <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Edit"), edit_link, :remote=>true, role: "menuitem", tabindex: "-1" %>
      </li>
      <li role="presentation" class="divider"></li>

      <li role="presentation">
        <%= link_to raw("<i class=\"fa fa-trash mr-5\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true %>
      </li>
    </ul>

  </div>

  <%= clear_tag %>

</div>