<% if @testimonial.errors.blank? %>
  // Fill the right box with first testimonial details
  $('#div_testimonial_show').html("<%= escape_javascript(render(:partial=>'show')) %>");
  $('#div_testimonial_details').html("<%= escape_javascript(render(:partial=>'details')) %>");

  // Add the newly created item to the list
  $("#div_testimonial_index").prepend("<div id=\"div_testimonial_<%= @testimonial.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :testimonial => @testimonial })) %></div>")
  $(".panel-message").hide();
<% else %>
  $('#div_testimonial_show').html("<%= escape_javascript(render(:partial=>'form')) %>");
  validateModelForm();

  // Populate Server Side Errors
  <%
    text = "You have few errors. They have been highlighted."
    error_message = content_tag(:div, text, class: "alert alert-danger")
  %>
  $("#testimonial_form_error").html("<%= escape_javascript(error_message) %>");
<% end %>
