<%= theme_heading("Manage Testimonials") %>

<div id="div_testimonial_info">
	<%= render :partial=>"info" %>
</div>

<div class="row mb-10">
	<div class="col-sm-6">
		<%= theme_button('New', 'plus', new_admin_testimonial_path, classes: "pull-left mr-5 mb-5", btn_type: "success") %>
		<div id="div_testimonial_filters">
			<%= render :partial=>"filters" %>
		</div>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(Testimonial, admin_testimonials_path) %>
  </div>
</div>

<%# Renders a partial to display all the testimonials %>
<div class="row">
	<div id="div_testimonial_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>
	<div id="div_testimonial_drop_down" class="col-xs-12 visible-xs">
		<%= theme_drop_down(@testimonials, :name, text: "Click to view Testimonials") %>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div id="div_testimonial_show">
			<%= theme_detail_box(@testimonials) %>
		</div>
		<div id="div_testimonial_details">
			<%= render :partial=>"details" if @testimonials.any? %>
		</div>
	</div>

</div>


